/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
  font-family: "thrones";
  src: url('game_of_thrones.ttf') format("truetype");
}

body{
  background-color: gray;
}

header{
  text-align: center;
}

header > img{
  width: 1500px;
  height: 50%;
  margin: 0 auto;
  object-fit: cover;
}

article{
  font-family: "thrones";
  text-align: center;
  display: flex;
  justify-content: space-around;
}

img{
  object-fit: cover;
  max-width: 400px;
  max-height: 400px;
}

h3{
  text-align: center;
}

form{
  text-align: center;
}

p{
  text-align: center;
}

a:hover{
  color: red;
}

.show{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.character{
  text-align: center;
}
