<!DOCTYPE html>
<html>
  <head>
    <title>Game Of Thrones</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="https://stormideaswus.blob.core.windows.net/headerjunction/2014/91/29c6a4f9-ec87-4f81-bf6a-e8468da6c237.jpg" alt="" />
    </header>
    <%= yield %>
  </body>
</html>
